*{
  margin:0;
  padding:0;
}
body{
  font-family:arial,sans-serif;
  font-size:100%;
  margin:3em;
  /* background:#666;
  color:#fff; */
}
.clearfix:before, .clearfix:after{
     content: "";
     display: table;
}
.clearfix:after{
     clear: both;
}

ul,li{
  list-style:none;
}
ul{
  overflow:hidden;
  padding:48px;
}

ul li {
  border: 1px solid #444;
}

ul li a{
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  height:160px;
  width:160px;
  padding:16px;
  overflow: hidden;
}

.btn_edit {
	background-color: #afdf00;
}

.btn_delete {
	background-color: #e2b34d;
}

.cust-btn { 
	border: none;
    color: white;
    padding: 8px 14px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    float: right;

}

.submit-button {
	background-color: #4CAF50;
}
ul li{
  margin:16px;
  float:left;
}

}

}
ul li a{
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  height:160px;
  width:160px;
  padding:16px;
  
  /* Firefox */
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  /* Chrome */
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  
  
}

.div_action {
	display: block;
	text-align: right;
	position: absolute;
	bottom: 10px;
	width: 84%;
}

.div_action > .btn_action {
	/* float: right; */
}

.note_div {
	cursor: default;
	position: relative;
}

.note_div:hover .btn_action {
	/* display: block; */
}

.input-title,
.input-desc {
	width: 100%;
    padding: 4px;
    margin-bottom: 4px;
}

.headings {
	text-align: center; 
	margin-bottom: 10px;
}

.stick-bar {
	width: 100%;
	height: 20px;
	background-color: #f5f5bb;
}

